body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  background: #ffffff;
}

.list-no-style {
  list-style: none;
}

.header a:hover,
.header a:focus,
.header a:active {
  color: #2196f3;
}

.WebStudio {
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  font-family: Raleway;
}

.studio {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
  font-weight: 500;
}

.portfolio {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  font-weight: 500;
}
.contact {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  font-weight: 500;
}

.mailtel a {
  list-style: none;
  color: #757575;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}

.mailtel {
  list-style: none;
}

.effect {
  background: #2f303a;
}

.business {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.button {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
}
.service {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.tasks h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: #212121;
}

.tasks p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.img {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team {
  background: #f5f4fa;
}

.team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: #212121;
}
.team p {
  font-size: 16px;
  line-height: 1.18;

  letter-spacing: 0.03em;

  color: #757575;
}

.footer {
  background: #2f303a;
}

.footer address {
  font-style: normal;
  font-size: 14px;
  line-height: 1, 71;
  color: #ffffff;
}

.Studio {
  color: #ffffff;
}

.Studio- {
  color: #212121;
}

.portfolioo {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
  font-weight: 500;
}

.studioo {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  font-weight: 500;
}

.work a {
  text-decoration: none;
}

.work h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}

.work p {
  font-size: 16px;
  line-height: 1.87;

  color: #757575;
}

.all {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
}
.Web-sites {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
}

.Applications {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
}

.Design {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
}

.Marketing {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
}

.button-type {
  width: 145px;
  height: 38px;
  left: 712px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
  font-family: inherit;
}

.button:hover,
.button:active {
  color: #2196f3;
}
