body {
  font-family: Roboto;
  font-style: normal;
  background: #ffffff;
}

.list-no-style {
  list-style: none;
}

.header a,
.header a:visited {
  font-size: 14px;
  line-height: 1.142px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: black;
}
.address a {
  font-style: normal;
  list-style: none;
  color: #757575;
  text-decoration: none;
}

.address ul {
  list-style: none;
}

.header a:hover,
.header a:active {
  color: #2196f3;
}

.service {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.effect {
  background: #2f303a;
}
.effect a {
  color: #ffffff;
}

.business {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
}

.tasks h3 {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.tasks p {
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}

.team {
  background: #f5f4fa;
}

.team h2 {
  font-size: 36px;
  line-height: 42px;

  letter-spacing: 0.03em;
  color: #212121;
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  letter-spacing: 0.03em;
  color: #212121;
}
.team p {
  font-size: 16px;
  line-height: 19px;

  letter-spacing: 0.03em;
  color: #757575;
}

.WebStudio {
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.footer {
  background: #2f303a;
}

.footer address {
  font-family: Roboto;
  font-style: normal;

  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer li {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
